astroid @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_d80uhw6nwt/croot/astroid_1736461283453/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1741918516150/work
build==1.3.0
click @ file:///home/conda/feedstock_root/build_artifacts/click_1747811314515/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1733218098505/work
contourpy @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_2cvjf0v4ux/croot/contourpy_1732540055997/work
cycler @ file:///home/conda/feedstock_root/build_artifacts/cycler_1733332471406/work
-e git+ssh://git@github.com/DominikMiotla/ISA_DICOM.git@cef34b611f4e338f83f7a7b23d0d235b5f6c6494#egg=dicom
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1744798524990/work
exceptiongroup==1.3.0
fonttools @ file:///home/conda/feedstock_root/build_artifacts/fonttools_1756328628318/work
hypothesis @ file:///home/conda/feedstock_root/build_artifacts/hypothesis_1756883973714/work
imageio @ file:///home/conda/feedstock_root/build_artifacts/imageio_1738273805233/work
importlib_metadata @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_importlib-metadata_1747934053/work
iniconfig==2.1.0
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1746190248328/work
kiwisolver @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_cc2l_z_0ri/croot/kiwisolver_1737039586949/work
lazy_loader @ file:///home/conda/feedstock_root/build_artifacts/lazy-loader_1733636780672/work
matplotlib==3.10.5
mccabe @ file:///home/conda/feedstock_root/build_artifacts/mccabe_1733216466933/work
munkres==1.1.4
networkx @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_networkx_1731521053/work
numpy @ file:///Users/runner/miniforge3/conda-bld/numpy_1707225416355/work/dist/numpy-1.26.4-cp310-cp310-macosx_11_0_arm64.whl#sha256=14c628943f67e9c10d22faa9c1cdcbf69c3192e88f2f597d03b77a252e589567
opencv-python==4.5.5
packaging @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_packaging_1745345660/work
Pillow @ file:///Users/runner/miniforge3/conda-bld/pillow_1666920704573/work
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_platformdirs_1756227402/work
pluggy==1.6.0
pydicom @ file:///home/conda/feedstock_root/build_artifacts/pydicom_1734037635475/work
Pygments==2.19.2
pylint @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pylint_1754751762/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_pyparsing_1753873557/work
pyproject_hooks==1.2.0
pytest==8.4.1
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_python-dateutil_1751104122/work
PyWavelets==1.8.0
scikit-image @ file:///Users/runner/miniforge3/conda-bld/scikit-image_1734955931373/work/dist/scikit_image-0.25.0-cp310-cp310-macosx_11_0_arm64.whl#sha256=71617a35c658331bc6a9cd09f17321bb26b7c7f203bdd8f5965166ecb5e806c7
scipy @ file:///Users/runner/miniforge3/conda-bld/scipy-split_1739790705989/work/dist/scipy-1.15.2-cp310-cp310-macosx_11_0_arm64.whl#sha256=7edcf528c303a2d0aa5afa5be176589f18a84d21a8d85f1972553ab95cab0933
six @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_six_1753199211/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1738440353519/work
tifffile @ file:///private/var/folders/nz/j6p8yfhx1mv_0grj5xl4650h0000gp/T/abs_6fbcall8gt/croot/tifffile_1741164548183/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_tomli_1753796677/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1749127122469/work
tornado @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_63s3osc0_1/croot/tornado_1748956943583/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/bld/rattler-build_typing_extensions_1756220668/work
unicodedata2 @ file:///private/var/folders/k1/30mswbxs7r1g6zwn8y4fyt500000gp/T/abs_b99hn8t9lq/croot/unicodedata2_1736541774279/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1749421620841/work
